@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  color: var(--main-heading-stats);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
}

p {
  line-height: 1.8;
}

.wrapper {
  position: relative;
  min-height: 1000px;
  background-color: var(--main-background);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  width: 80%;
  max-width: 350px;
  min-height: 820px;
  margin: 6em auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-background);
}

.card__bg-image {
  height: 257px;
  position: relative;
  background-image: url('images/image-header-mobile.jpg');
  background-size: cover;
} 

.card__bg-image::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  filter: brightness(.3) saturate(5);
  background-color: var(--accent);
}

.card__content {
  padding: 2.8em 2.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.violet {
  color: var(--accent);
}

.light-gray {
  color: var(--main-paragraph);
}

.card__stats-box {
  display: flex;
  flex-direction: column;
  gap: 2.1em;
}

.card__stats {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card__stats-name {
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
}


.attribution {
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.5vw;
  }

  .wrapper {
    height: 665px;
  }

  .card {
    display: grid;
    width: 90%;
    max-width: 920px;
    grid-template-columns: 50% 50%;
    height: 40vw;
    min-height: initial;
    max-height: 400px;
  }

  .card__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    padding: 3.5em;
    gap: 1.5em;
    justify-content: space-between;
    height: 40vw;
    max-height: 400px;
  }

  h1 {
    margin-bottom: -1.5em;
  }

  .card__bg-image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 40vw;
    max-height: 400px;
    background-image: url('images/image-header-desktop.jpg');
  }

  .card__stats-box {
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 15px;
  }
}

.attribution a {
  text-decoration: none;
}
